<form action="/data" method="post">
    <label>T1</label>
    <input type="number" name="t1" placeholder="t1 marks">
     <label>T2</label>
    <input type="number" name="t2" placeholder="t2 marks">
     <label>T3</label>
    <input type="number" name="t3" placeholder="t3 marks">
     <label>T4</label>
    <input type="number" name="t4" placeholder="t4 marks">
    <input type="submit">
</form>