<form action="/result" method="post">

    <label>username:</label>
    <input type="text" placeholder='enter username' name="name">
    <label>age</label>
    <input type="number" placeholder="enter age" name="age">
    <label>skills</label>
    <select name="skills">
        <option>select skill</option>
        <option>JavaScript</option>
        <option>Python</option>
        <option>Java</option>
        <option>None</option>
    </select>
    <label>Experience</label>
     <input type="number" placeholder="enter Experience" name="exp">
    <input type="submit">  
</form>