<form action="/contact" method="post">
    <h3>CONTACT FORM</h3>
    <label>username:</label>
    <input type="text" placeholder='enter username' name="name">
    <label>email</label>
    <input type="emai" placeholder="enter email" name="email">
    <input type="submit">  
</form>